<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <h2>This is about page</h2>
    <hr/>
    <!-- Using fragment -->
    <div class="host-tag" th:insert="~{base :: parent(~{::section})}">
        <section>
            <h1>This is dynamic content</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nesciunt magni quae, ut dolore a quas perspiciatis, ipsum iste voluptas quidem mollitia molestias commodi deserunt at laboriosam ipsam fugit nam?</p>
            <button>Click here</button>
        </section>
    </div>
</body>
</html>