<!DOCTYPE html>
<html 
    lang="en" 
    th:fragment="parent(content)"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS Extenstion -->
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
    <!-- Flowbite CSS Extenstion -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <title>Level sbke niklenge</title>
</head>
<body>
    <!-- Main Content -->
    <section data-th-replace="${content}"></section>
    <!-- Flowbite Javascript Extenstion -->
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
</body>
</html>