<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content}, ~{:: title}, ~{:: script})}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
    </head>
    <body>
        <div id="content">
            <h1>Welcome to Sign up Page</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero maxime dolore officia corrupti odio. Facilis dolorem id voluptatibus voluptatem natus aspernatur. Voluptatum maiores blanditiis ipsam corporis autem, laudantium nihil tempora.</p>
        </div>
        <script>
            console.log("Sign up Page");
        </script>
        <script>
            console.log("Sign up Page - New");
        </script>
    </body>
</html>